<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyulab.cn.exam.mapper.ExamPaperMapper">

    <select id="listPaperAnswerVo" resultType="com.moyulab.cn.exam.vo.PaperAnswerVo" parameterType="map">
        select pu.create_date,pu.create_by,pu.user_score,pu.paper_user_id,pu.paper_status,pu.user_id,u.nick, p.* from exam_paper p
        JOIN exam_paper_user pu USING(paper_id)
        LEFT JOIN sys_user u USING(user_id)
        <include refid="condition"></include>
        order by pu.create_date DESC
        <if test="start != null and size != null">
            limit ${start},${size}
        </if>
    </select>

    <sql id="condition">
        <if test="teacherId != null">
            JOIN exam_class_user cu USING(user_id)
            JOIN exam_class c USING(class_id)
        </if>
        <where>
            <if test="paperName != null and pageName != ''">
                and p.paper_name like CONCAT('%', #{paperName}, '%')
            </if>
            <if test="paperUserId != null">
                and pu.paper_user_id = #{paperUserId}
            </if>
            <if test="paperStatus != null">
                and pu.paper_status = #{paperStatus}
            </if>
            <if test="createBy != null">
                and pu.create_by = #{createBy}
            </if>
            <if test="teacherId != null">
                and c.create_by = #{teacherId}
            </if>
            <if test="userId != null">
                and pu.user_id = #{userId}
            </if>
        </where>
    </sql>

    <select id="coutPaperAnswer" resultType="int" parameterType="map">
        select count(*)
        from exam_paper p
        JOIN exam_paper_user pu USING(paper_id)
        <include refid="condition"></include>
    </select>



</mapper>